<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <script type="text/javascript" src="/js/jquery-3.4.1.js"></script>
</head>
<body>
    <div>
        name:<br>
        <input id="name" type="text" name="name" ><br>
        password:<br>
        <input id="password" type="password" name="password" ><br><br>
        <button id="btn">提交</button>
    </div>
</body>
<script>

    $(function () {
        $("#btn").on("click",function(event){
            var name = $("#name").val();
            var password = $("#password").val();

            //$.ajaxSetup({});
            $.ajax({
                type:"get",
                url:"http://localhost:8080/login/dologin",
                data:{
                    name: name,
                    password: password
                },
                async:false,
                success:function (data) {
                    console.log(data);
                    alert(data)
                },
                error:function (e) {
                    console.log(e);
                }
            });
            event.preventDefault();
        });


    });



</script>
</html>